<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <title>
        {% if page.title %}
          {{ page.title }} | {{ site.title }}
        {% else %}
          {{ site.title }}
        {% endif %}
    </title>

    {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
    {% else %}
        <meta name="description" content="{{ site.description }}" />
    {% endif %}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/reveal.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/css/theme/white.min.css" id="theme" />
    <!--[if lt IE 9]>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/lib/js/html5shiv.js"></script>
	<![endif]-->
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section data-markdown>
                <textarea data-template>
                    ## Page title
            
                    A paragraph with some text and a [link](http://hakim.se).
                </textarea>
            </section>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/lib/js/head.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.7.0/js/reveal.min.js"></script>
    <script>
    Reveal.initialize({
    });
    </script>
</body>
</html>
